.wrapper {
  height: 100vh;
  background: rgba(54, 54, 54, 0.5);
  color: white;
}

.landing {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: -1;
}

.item {
  position: relative;
  height: 100%;
}

.hero {
  text-align: center;
  width: calc(100% - 20px);
  min-height: 150px;
  margin: 15% auto 5% auto;
  padding: 40px 10px;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  margin-top: 0; 
  margin-left: calc(50% - (150px/2));
  margin-right: calc(50% - (150px/2));
  margin-bottom: 50px;
  height: 48px;
  border-radius: 75px;
  text-align: center;
  min-width: 150px;
  font-size: 20px;
  box-shadow: 3px 4px 7px 0px rgb(73, 73, 73);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0px 1px 7px 0px rgb(31, 31, 31);
  color: white;
  background: black;
}

.btn:focus {
  outline: none;
  cursor: pointer;
  box-shadow: 0px 1px 7px 0px rgb(31, 31, 31);
  color: white;
  background: black;
}

.icon:hover {
  cursor: pointer;
  color: rgb(153, 153, 153);
}

@media screen and (min-height: 470px) {
  .landing {
    height: 100vh;
  }
}
